.messagepage {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    .balloon {
      margin: 10px;
      position: relative;
      padding: 60px 15px;
      background-color: #42acdd;
      color: #fff;
      border-radius: 10px;
      .message {
        font-size: 3em;
      }
    }
    .balloon::before {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      bottom: -10px;
      left: 20px;
      margin-left: 0;
      background-color: #42acdd;
      border-radius: 0 50px 0 50px;
      z-index: -1;
    }
    .balloon::after {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      bottom: -5px;
      left: 30px;
      margin-left: 0;
      background-color: #fff;
      border-radius: 0 50px 0 50px;
      z-index: -1;
      transform: rotate(30deg);
    }
  }
}
